body {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    margin: 0;
    background-image: url(./Background_Images/background_mobile.png);
    background-color: #ff7979;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 90%;
    margin-top: 88px;
  }
  
  .header {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.3px;
    text-align: center;
    margin: 0;
    color: white;
  }
  
  .paragraph {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    margin: 16px 0 0;
    color: white;
  }
  
  .purple_text {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .purple {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 88px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
    background-color: #5e54a4;
  }
  
  .purple h1 {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 194px;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 68px;
    padding: 24px 0;
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
  }
  
  input {
    font-size: 14px;
    font-weight: 600;
    width: 76%;
    height: 56px;
    border-radius: 5px;
    padding-left: 19px;
    letter-spacing: 0.25px;
    border: 1px solid #dedede;
    outline-color: #5e54a4;
    color: #3d3b48;
  }
  
  form > span {
    display: none;
    align-self: flex-end;
    font-size: 11px;
    font-family: Poppins;
    font-weight: 500;
    text-align: right;
    font-style: italic;
    margin: -10px 10% 0 0;
    color: #ff7979;
  }
  
  button {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 26px;
    text-align: center;
    width: 82%;
    height: 56px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: white;
    background-color: #38cc8b;
  }
  
  form p {
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    width: 70%;
    margin: -8px 0 0;
    color: #bab7d4;
  }
  
  p span {
    font-weight: 700;
    color: #ff7979;
  }
  
  